<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
	"-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>	

	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>file:${file.propEnv}</value>
		</property>
	</bean>
	
	<import resource="classpath:applicationContext-persistency.xml"/>
	<import resource="classpath:applicationContext-publisher.xml"/>	
	<import resource="classpath:applicationContext-foundation.xml"/>
	
	<bean id="cacheManager" class="com.fsi.monitoring.cache.EhCacheManagerBean">
  		<property name="ehcacheConfigLocation">
    		<value>classpath:ehcache.xml</value>
  		</property>
		<property name="propertiesFile">
    		<value>file:${file.propEnv}</value>
  		</property>
		<property name="componentName">
    		<value>compute-server</value>
  		</property>
		<property name="cacheManagerName">
    		<value>compute-server</value>
  		</property>
	</bean>
	
	<bean id="computeServerService"
    	  class="com.fsi.monitoring.computeServer.services.ComputeServerImpl"
    	  singleton="true"
    	  init-method="init">
    	  <property name="jmsFactory" ref="jmsProcessorFactory"/>
		  <property name="monitoringPM">
			<ref bean="monitoringPM"/>
		  </property>	
		  <property name="dataModelPM">
			<ref bean="dataModelPM"/>
		  </property>		  	  
	</bean>		
   
	<bean id="computeServerPublisher"
    	  class="com.fsi.fwk.apps.connection.ServicePublisher"
    	  singleton="true"
		  init-method="publishService">
		<property name="hostName">
			<value>${compute-server.hostname}</value>
		</property>   
		<property name="port">
			<value>${compute-server.port}</value>
		</property>
		<property name="serviceName">
			<value>${compute-server.serviceName}</value>
		</property>
		<property name="service">
			<ref bean="computeServerService"/>
		</property> 			
	</bean>
</beans>