<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC
	"-//SPRING//DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

	<bean id="propertyConfigurer"
		  class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>file:${file.propEnv}</value>
		</property>
	</bean>
	
	<import resource="classpath:applicationContext-persistency.xml"/>
	<import resource="classpath:applicationContext-foundation.xml"/>
	
	<bean id="cacheManager" class="com.fsi.monitoring.cache.EhCacheManagerBean">
  		<property name="ehcacheConfigLocation">
    		<value>classpath:ehcache.xml</value>
  		</property>
		<property name="propertiesFile">
    		<value>file:${file.propEnv}</value>
  		</property>
		<property name="componentName">
    		<value>monitor-server</value>
  		</property>
		<property name="cacheManagerName">
    		<value>monitor-server</value>
  		</property>
	</bean>
	
	<bean id="computeServerConnector"
    	  class="com.fsi.fwk.apps.connection.RemoteServiceConnector"
    	  singleton="true"
		  init-method="initConnection">
		<property name="hostName">
			<value>${compute-server.hostname}</value>
		</property>   
		<property name="port">
			<value>${compute-server.port}</value>
		</property>
		<property name="serviceName">
			<value>${compute-server.serviceName}</value>
		</property>			
	</bean>	
	
	<bean id="connectorManager"
    	  class="com.fsi.monitoring.connector.ConnectorManager"
    	  singleton="true"
		  init-method="init">
			<property name="dataModelPM" ref="dataModelPM"/>
			<property name="jmsFactory" ref="jmsProcessorFactory"/>
			<property name="heartbeatEventType" value="HEARTBEAT_CONNECTOR"/>
			<property name="defaultMaxAttempt">
				<value>${connector.defaultMaxAttempt}</value>
			</property>		
			<property name="defaultAttemptDelay">
				<value>${connector.defaultAttemptDelay}</value>
			</property>		
			<property name="scenarioDelay">
				<value>${connector.scenarioDelay}</value>
			</property>			
	</bean>	

	<bean id="collectorManager"
    	  class="com.fsi.monitoring.server.CollectorManager"
    	  singleton="true"
		  init-method="init">
			<property name="dataModelPM" ref="dataModelPM"/>
			<property name="jmsFactory" ref="jmsProcessorFactory"/>
			<property name="heartbeatEventType" value="HEARTBEAT_COLLECTOR"/>
	</bean>	
	
	<bean id="monitorFactory"
    	  class="com.fsi.monitoring.kpi.monitor.config.MonitorFactory"
    	  singleton="true"
		  init-method="initFactory">
		    <property name="dataModelPM" ref="dataModelPM"/>
	</bean>	
	
	<bean id="dataSynchronizationMgr"
    	  class="com.fsi.monitoring.kpi.monitor.DataSynchronizationMgr"
    	  singleton="true"
		  init-method="init">
		  <property name="synchronizationFile">
    		<value>file:${ikr.resource.dir}/sync.properties</value>
  		</property>
	</bean>	
	
	<bean id="monitorReconnectionAttempt" class="com.fsi.monitoring.util.MonitorReconnectionAttempt">
		<property name="maxAttemptNumbers">
			<map>
				<entry>
					<key><value>systemMonitor</value></key>
					<value>${collector.systemMaxAttemptNumber}</value>
				</entry>
				<entry>
					<key><value>jmxMonitor</value></key>
					<value>${collector.jmxMaxAttemptNumber}</value>
				</entry>
				<entry>
					<key><value>calypsoMonitor</value></key>
					<value>${collector.calypsoMaxAttemptNumber}</value>
				</entry>
				<entry>
					<key><value>dbmsMonitor</value></key>
					<value>${collector.dbmsMaxAttemptNumber}</value>
				</entry>
			</map>
		</property>	
		<property name="maxAttemptDelays">
			<map>
				<entry>
					<key><value>systemMonitor</value></key>
					<value>${collector.systemMaxAttemptDelay}</value>
				</entry>
				<entry>
					<key><value>jmxMonitor</value></key>
					<value>${collector.jmxMaxAttemptDelay}</value>
				</entry>
				<entry>
					<key><value>calypsoMonitor</value></key>
					<value>${collector.calypsoMaxAttemptDelay}</value>
				</entry>
				<entry>
					<key><value>dbmsMonitor</value></key>
					<value>${collector.dbmsMaxAttemptDelay}</value>
				</entry>
			</map>
		</property>
	</bean>	
 
</beans>